@use 'config' as *;

.devices_sect {
  background-color: var(--bg_clr);
  padding: 0 10px;
  display: flow-root;

  @include mediaQuery(min, $mid_screen) {
    padding: 0 50px;
  }

  .heading_text {
    text-align: center;
    font-size: 6rem;
    color: var(--txt_clr1);
    letter-spacing: 0.2rem;
    position: relative;
    max-width: 1200px;
    margin: auto;

    @include mediaQuery(min, 1550px) {
      max-width: 80%;
    }
    .cta_btn {
      display: none;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;

      @include mediaQuery(min, $mid_screen) {
        display: block;
        @include position(absolute, right, top, 0, 50%);
        @include uniTranslate(Y, -50%);
        padding: 10px 50px;
        color: $txt_drk2;

        &:hover {
          box-shadow: 0px 4px 8px var(--shd_clr);
        }
      }
    }
  }

  .center_sect {
    margin-top: 30px;

    .devices_opts {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 400px;
      grid-gap: 25px;

      @include mediaQuery(min, $mid_screen) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 260px);
      }

      .devices_opt {
        --color: #ffffff;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: $brd_rad_lrg;
        position: relative;
        padding: 30px;
        color: $txt_lgt;
        z-index: 1;
        transition: all ease 0.3s;

        &:hover {
          box-shadow: 0 0 20px 2px var(--shd_clr);

          .arrow_icon {
            opacity: 1 !important;
          }
        }

        &:nth-child(2) {
          --color: #202020;
          color: $txt_drk;
        }

        @include mediaQuery(max, 700px) {
          &:not(&:first-child) {
            background-position: right 0px center;
          }
        }

        @include mediaQuery(min, $mid_screen) {
          &:first-child {
            grid-row: 1 / span 2;
          }
        }

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: #0000002d;
          @include position(absolute, left, top, 0, 0);
          z-index: -1;
          pointer-events: none;
        }

        .name {
          font-size: 3rem;
          text-transform: capitalize;
          letter-spacing: 0.1rem;

          @include mediaQuery(max, calc($mid_screen - 1px)) {
            font-size: 4rem;
          }
        }

        .bottom {
          @include position(absolute, left, bottom, 20px, 20px);

          p {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.1rem;

            @include mediaQuery(max, calc($mid_screen - 1px)) {
              font-size: 2rem;
            }
          }

          .price {
            font-size: 4rem;
            letter-spacing: 0.1rem;
            position: relative;

            @include mediaQuery(max, calc($mid_screen - 1px)) {
              font-size: 6rem;
            }

            .naira_icon {
              position: relative;

              &:after,
              &:before {
                content: '';
                width: 105%;
                height: 3px;
                background-color: var(--color);
                position: absolute;
                left: -1px;
              }

              &::after {
                top: 40%;
              }

              &:before {
                bottom: 40%;
              }
            }
          }

          .arrow_icon {
            @include position(absolute, right, top, -40px, 50%);
            @include uniTranslate(Y, -40%);
            font-size: 5rem;
            opacity: 0;
            transition: all ease 0.3s;
          }
        }
      }
    }
  }

  .center_sect + .cta_btn {
    box-sizing: content-box;
    display: block;
    max-width: 100px;
    margin: 20px auto;
    padding: 10px 30px;
    color: $txt_drk2;
    @include mediaQuery(min, $mid_screen) {
      display: none;
    }

    &:hover {
      box-shadow: 0px 4px 8px var(--shd_clr);
    }
  }
}
