@use 'config' as *;

#nav_sect {
  $drop_top: 80px;

  position: fixed;
  width: 100%;
  background: linear-gradient(180deg, #202020f5, #20202000);
  z-index: 10;

  @include mediaQuery(max, $lrg_screen) {
    height: 40px;
  }

  .overlay {
    @include position(fixed, left, top, 0, 0);
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #000000a8;
    @include mediaQuery(min, $lrg_screen) {
      display: none;
    }
  }

  .acct_type_wrapper {
    display: none;
    max-width: 95.32%;
    margin: auto;
    padding-left: 65px;

    @include mediaQuery(min, $lrg_screen) {
      @include flexDisp(flex-start, center);
      padding-top: 10px;
      padding-bottom: 30px;
    }

    .acct_type_opt {
      text-transform: uppercase;
      margin-right: 50px;
      font-size: 1.5rem;
      color: $txt_lgt;
      cursor: pointer;
      padding: 10px 0;

      .opt_title_wrapper {
        @include flexDisp(flex-start, center);

        .opt_title {
          transition: padding ease 0.3s;
        }

        .opt_title_icon {
          width: 7px;
          height: 7px;
          display: inline-block;
          background-color: $txt_lgt;
          border-radius: 50%;
          opacity: 0;
          transition: all ease 0.3;

          &.active {
            opacity: 1;

            & + .opt_title {
              font-weight: 600;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }

  .navbar_sect {
    width: 95.32%;
    @include position(fixed, left, top, 50%, 10px);
    @include uniTranslate(X, -50%);
    z-index: 2;

    @include mediaQuery(min, $lrg_screen) {
      top: 50px;
    }

    .top_wrapper {
      @include flexDisp(space-between, center);
      background-color: var(--acc_clr);
      border-radius: $brd_rad_small;
      padding: 10px 15px;
      transition: all ease-out 0.5s;

      @include mediaQuery(min, $lrg_screen) {
        padding: 0 20px;
      }

      &.active {
        border-radius: $brd_rad_small $brd_rad_small 0 0;
        @include mediaQuery(min, $lrg_screen) {
          border-radius: $brd_rad_small;
        }
      }

      &.lrg_active {
        @include mediaQuery(min, $lrg_screen) {
          border-radius: $brd_rad_small $brd_rad_small 0 0;
        }
      }

      .left_side {
        @include flexDisp(flex-start, center);
        flex-basis: 55%;

        .logo_wrapper {
          width: 50px;
          cursor: pointer;
          margin-right: 70px;

          @include mediaQuery(min, $mid_screen) {
            margin-left: 50px;
            width: 80px;
          }

          @include mediaQuery(max, 1000px) {
            margin-right: 20px;
          }
        }

        .midside {
          display: none;

          @include mediaQuery(min, $lrg_screen) {
            @include flexDisp(flex-start, center);
          }

          .navopt {
            font-size: 1.5rem;
            text-transform: capitalize;
            color: $txt_drk2;
            min-width: fit-content;
            height: 80px;

            &:hover .opt_title_wrapper {
              border-bottom-color: $txt_lgt;
              color: $txt_lgt;
            }

            .opt_title_wrapper {
              transition: all ease 0.3s;
              border-bottom: 2px solid transparent;
              height: 100%;
              @include flexDisp(flex-start, center);
              padding: 0 20px;
              cursor: pointer;

              .arrow_icon {
                @include position(relative, left, top, 5px, 3px);
              }
            }

            .navsub_opts.top_level {
              width: 99.9%;
              @include position(fixed, left, top, 50%, calc($drop_top - 10px));
              @include uniTranslate(X, -50%);
              z-index: 1;
              @include flexDisp(center, center);
              color: var(--txt_clr2);
              opacity: 0;
              transition: all ease-out 0.5s;
              pointer-events: none;

              &.active {
                top: $drop_top;
                opacity: 1;
                pointer-events: auto;
              }

              .navsub_opt {
                margin: 20px 0;
                min-width: fit-content;

                .title {
                  padding: 15px 30px;
                  border-radius: $brd_rad_small;
                  transition: background-color ease 0.5s;
                  cursor: pointer;
                }

                &:not(#{&}.no_hover):hover .title {
                  background-color: var(--acc_clr);
                }

                &:hover .title {
                  font-weight: 600;
                }

                &.no_hover {
                  .title {
                    @include flexDisp(center, center);

                    .drop_icon {
                      @include position(relative, left, top, 13px, 2px);
                    }
                  }
                }

                .subdrop_wrapper {
                  @include position(fixed, left, top, 50%, 69.5px);
                  @include uniTranslate(X, -50%);
                  width: 100%;
                  background-color: var(--bg_clr);
                  height: 0;
                  transition: all ease-out 0.5s;
                  overflow: hidden;
                  border-radius: 0 0 $brd_rad_mid $brd_rad_mid;

                  .navsub_opts {
                    @include flexDisp(center, center);

                    .navsub_opt {
                      padding: 15px 30px;
                      border-radius: $brd_rad_small;
                      transition: background-color ease 0.5s;
                      cursor: pointer;
                      margin: 0;
                      margin-top: 10px;
                      margin-bottom: 10px;

                      &:hover {
                        background-color: var(--acc_clr);
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }
          }

          .expandable_drop {
            width: 99.9%;
            @include position(fixed, left, top, 50%, $drop_top);
            @include uniTranslate(X, -50%);
            background-color: var(--bg_clr);
            box-shadow: 3px 3px 10px var(--shd_clr2),
              -3px 0 10px var(--shd_clr2);
            border-radius: 0 0 $brd_rad_mid $brd_rad_mid;
            height: 0;
            transition: all ease-out 0.5s;
            overflow: hidden;
          }
        }
      }

      .rightside {
        @include flexDisp(center, center);

        .search_btn {
          font-size: 25px;
          margin-right: 20px;
          position: relative;
          top: 4px;

          @include mediaQuery(min, $lrg_screen) {
            margin-right: 50px;
            font-size: 30px;
          }
        }

        .menu_btn {
          padding: 10px 0;
          @include flexDisp(center, center, column);
          @include mediaQuery(min, $lrg_screen) {
            display: none;
          }

          hr {
            width: 20px;
            margin-bottom: 3px;
            border: none;
            height: 2px;
            background-color: #000;
            transition: all ease-out 0.5s;
            transform-origin: center;
            position: relative;

            &:last-child {
              margin-bottom: 0;
              height: 2.5px;
            }

            &:first-child {
              height: 2.5px;
            }
          }

          &.active {
            hr {
              margin-bottom: 0;
              &:nth-child(2) {
                width: 0;
              }

              &:first-child {
                rotate: 45deg;
                left: 1px;
                top: 2px;
              }

              &:last-child {
                rotate: -45deg;
                left: 1px;
                bottom: 2px;
              }
            }
          }
        }
      }
    }

    .mobile_drop_wrapper {
      background-color: var(--bg_clr);
      border-radius: 0 0 $brd_rad_mid $brd_rad_mid;
      max-height: 85vh;
      scrollbar-width: thin;
      scrollbar-color: var(--txt_clr1) var(--trk_clr);
      height: 0;
      overflow: hidden;
      transition: all ease-out 0.5s;

      @include mediaQuery(min, $lrg_screen) {
        display: none;
      }

      &.active {
        overflow-y: auto;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--trk_clr);
        border-radius: 0 0 10px 10px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: var(--txt_clr1);
        border-radius: 0 0 10px 10px;
      }

      .nav_opts {
        padding: 30px 10px;

        .navopt {
          border-bottom: 1px solid var(--brd_clr);
          text-transform: capitalize;
          font-size: 2rem;
          color: var(--txt_clr2);
          padding: 10px 0;

          &.last_child {
            border-bottom: none;
          }

          .opt_title {
            @include flexDisp(space-between, center);
            padding: 10px;
            cursor: pointer;

            &:hover {
              font-weight: 500;
            }
          }

          .subdrop_wrapper {
            overflow: hidden;
            height: 0;
            transition: all ease-out 0.5s;

            .navsub_opts {
              .navsub_opt {
                cursor: pointer;
                font-size: 1.8rem;
                padding: 10px 0;
                text-transform: none;
                padding-left: 20px;
                transition: background-color ease 0.5s;
                border-radius: $brd_rad_small;

                &:not(#{&}.no_hover):hover {
                  background-color: var(--acc_clr);
                  font-weight: 500;
                }

                .title_wrapper {
                  @include flexDisp(space-between, center);
                  // padding-bottom: 10px;

                  &:hover {
                    font-weight: 500;
                  }

                  .drop_icon {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .acct_type_opts {
        margin-top: 50px;
        padding-left: 10px;

        .acct_type_opt {
          text-transform: uppercase;
          font-size: 2rem;
          color: var(--txt_clr2);
          padding: 10px 0;
          @include flexDisp(flex-start, center);
          cursor: pointer;

          .opt_title {
            transition: padding ease 0.3s;
          }

          span {
            width: 7px;
            height: 7px;
            display: inline-block;
            background-color: var(--txt_clr2);
            border-radius: 50%;
            opacity: 0;
            transition: all ease 0.3;
            position: absolute;

            &.active {
              opacity: 1;
              position: static;

              & + .opt_title {
                font-weight: 600;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  .search_form {
    @include position(fixed, left, top, 50%, 135px);
    width: 85%;
    border-radius: $brd_rad_small;
    border: 1px solid var(--txt_clr1);
    @include mediaQuery(max, $lrg_screen) {
      top: 80px;
    }
    @include flexDisp(space-between, center);
    overflow: hidden;
    padding: 10px 0;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    transform-origin: left;
    transform: scale(0) translateX(-50%);

    &.active {
      opacity: 1;
      transform: scale(1) translateX(-50%);
    }

    .left_side {
      width: 80%;

      @include mediaQuery(min, $lrg_screen) {
        width: 90%;
      }

      .search_input {
        padding: 10px 20px;
        width: 100%;
        font-size: 2.1rem;
        color: var(--txt_clr1);
        // background-color: red;
      }
    }

    .right_side {
      @include flexDisp(flex-end, center);
      // background-color: green;
      width: 20%;

      @include mediaQuery(min, $lrg_screen) {
        width: 10%;
      }

      button {
        font-size: 3rem;
        padding: 5px 10px;
        color: var(--txt_clr1);

        &.enter_search_btn {
          border-right: 2px solid var(--brd_clr);
        }
      }
    }
  }
}
